<input type="text" [(ngModel)] = "name">
<p>{{name}}</p>
<div class="btn btn-primary">click Me hello</div>
<hr>
<app-servers></app-servers>
<!-- <hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam molestiae ab at sapiente dolor consectetur quaerat perferendis esse fuga ratione perspiciatis exercitationem natus nobis, repudiandae delectus accusantium maiores incidunt iusto!</p>
<hr> -->
<div>
    <!-- <app-warning-alert></app-warning-alert>
    <app-success-alert></app-success-alert> -->
</div>
<hr>
<hr>
<div>
    <app-username-display></app-username-display>
</div>
<div>
    <p appBetterHightlight [defaultColor]="'red'" [hightlightColor]="'purple'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, iusto doloremque, qui aliquid doloribus dolorum cumque repudiandae, dignissimos quisquam blanditiis officia ullam nemo consectetur. Quisquam asperiores optio possimus eos architecto.</p>
</div>
